$header-height: 3rem;
$hue: 0;
$sat: 0%;
$title-color: hsl($hue, $sat, 20%);
$title-dark-color: hsl($hue, $sat, 0%);
$text-color: hsl($hue, $sat, 46%);
$body-color: hsl($hue, $sat, 98%);
$container-color: #fff;

$body-font: "Poppins", sans-serif;
$bg-font-size: 3.5rem;
$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;
$nunito-font: "Nunito", sans-serif;
$font-roboto: "Roboto", sans-serif;

$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;

$mb-0-25:  0.25rem;
$mb-0-5:  0.5rem;
$mb-0-75:  0.75rem;
$mb-1:  1rem;
$mb-1-5:  1.5rem;
$mb-2:  2rem;
$mb-2-5:  2.5rem;
$mb-3:  3rem;

$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

$transition: all 0.5s ease;
$link-color: #0290ff;
$link-hover: #05355a;
$icon-color: #0f8fe4;

$breakpoints: (
  "xs": 0,
  "sm": 400px,
  "sm-md": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin sm-md {
  @media (max-width: map-get($breakpoints, "sm-md")) {
    @content;
  }
}

@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get(breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoints($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

@media screen and (max-width: 992px) {
  :root {
    $bg-font-size: 2.75rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: 0.938rem;
    $small-font-size: 0.813rem;
    $smaller-font-size: 0.75rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  background-color: $container-color;
  color: $text-color;
}

@include md {
  margin: 0 0 $header-height 0;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2rem;

  @include md {
    padding: 2rem 0 4rem;
  }
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
}

.section-subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;

  @include md {
    margin-bottom: $mb-3;
  }
}

.section-title,
.section-subtitle {
  text-align: center;
}

.container {
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    margin: 0 $mb-1-5;
  }

  @include sm {
    margin: 0 $mb-1;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: transparent;
  gap: 0.3rem;
  color: gray;
  padding: 0.75rem 2rem;
  border-radius: 0.625rem;
  font-weight: $font-medium;
  border: 1px solid indigo;
  transition: $transition;

  @include lg {
    padding: 1rem 1.75rem;
  }
}

.button:hover {
  background-color: rgb(236, 233, 233);
  transform: scale(0.9);
}

.button-icon {
  margin-left: $mb-0-5;

  @include lg {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 350px) {
  :root {
    $bg-font-size: 2.25rem;
  }
}

.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  color: #222;
  padding: 0.25rem 1.5rem;
  border: 0.3px solid rgb(54, 32, 70);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: $transition;
}

.btn:hover {
  background-color: whitesmoke;
  border-color: rgb(7, 106, 131);
  transform: translateY(-0.5rem);
  color: #222;
}
