@import '../commons/common-css-rules.scss';

.mission-container {
  margin: 1.75rem 0 3rem;
  border-radius: 0.25rem;
  border: solid 1px #e8e8e8;

  .mission-list {
    display: grid;
    grid-template-columns: 15% 50% 15% 15%;
    justify-content: center;
    border-bottom: solid 1px #e8e8e8;

    .mission-info {
      font-size: 1.5rem;
      font-weight: bold;
      gap: 1.2rem;
      border-right: solid 1px #e8e8e8;
      padding: 1rem 0.5rem 0.5rem;
    }
  }
  .mission {
    display: grid;
    grid-template-columns: 15% 50% 15% 15%;
    justify-content: center;

    .mission-title {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem 0.5rem 0.5rem;
      border-right: 1px solid #e8e8e8;
    }
    .mission-description {
      padding: 1rem 0.5rem 0.5rem;
      border-right: solid 1px #e8e8e8;
    }
    .mission-status {
      grid-column: span 2;
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      height: max-content;
      gap: 2rem;
      padding: 1rem 0.5rem 0.5rem;

      &:first-child {
        border-right: 2px solid rgb(141, 132, 132);
      }
      
    }
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }
}

.active-member {
  background-color: #0290ff;
}
.not-member {
  background-color: #979797;
}

.active-member,
.not-member {
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: normal;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.leave-button,
.join-button {
  background-color: #e8e8e8;
  color: #979797;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
}

.leave-button {
  color: #ee3030;
  border-color: #ee3030;
}

.leave-mission {
  color: #ee3030;
  border-color: #ee3030;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
}
