.flex-row {
  display: flex;
  flex-direction: row;
}

.spaceBetween {
  justify-content: space-between;
}

#logo {
  width: 80px;
  margin: 0 30px 0 50px;
}

a {
  text-decoration: none;
}

h1 {
  color: black;
}

#navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin: 0 50px 0 0;
}

#navLinks li {
  padding: 0 2rem 0 2rem;
  height: 1.5rem;
}

.divisor {
  border-right: solid black 1px;
}

#navLinks li a {
  color: blue;
}

.activeLink {
  text-decoration: underline;
}
