@import '../commons/common-css-rules.scss';

.rocket-container {
  margin-top: 4rem;
  margin-bottom: 2rem;

  .rocket {
    background: $container-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3125rem;
    list-style: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }

    img {
      width: 20%;
      height: 20%;
      border-radius: 0.25rem;

      @include lg {
        width: 100%;
        height: 100%;
      }
    }

    .single-rocket-container {
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 1rem;

      .rocket-name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .rocket-detail {
        font-size: 1rem;
        color: #979797;
        line-height: 1.6em;

        .reserved {
          background-color: rgb(66, 158, 185);
          color: #fff;
          font-size: 12px;
          height: max-content;
          width: fit-content;
          border-radius: 5px;
          border: none;
          padding: 0.3rem 0.4rem;
          white-space: normal;
          margin-right: 0.7rem;
        }
      }

      .cancel-reservation {
        margin-top: 0.25rem;
        border: rgb(171, 171, 171) 1px solid;
        background-color: #fff;
        border-radius: 5px;
        padding: 0.7rem;
        font-size: 1.1rem;
        color: rgb(171, 171, 171);
        line-height: normal;
        width: fit-content;
        cursor: pointer;
      }

      .reserve-rocket {
        margin-top: 0.25rem;
        border: none;
        background-color: rgb(13, 130, 255);
        border-radius: 5px;
        padding: 0.7rem;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        line-height: normal;
        width: fit-content;
        cursor: pointer;
      }
    }

    @include lg {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      padding: 1rem 1rem;
    }
  }
}
